**Find the Number of days in a month**

In [ ]:
month=int(input("Enter the Month: "))
if month==2:
  year=int(input("Year: "))
  if (year%4==0 and year%100!=0) or year %400==0:
    print('Days: 29')
  else:
    print('Days: 28')
elif month in (1,3,5,7,8,12):
  print('Days: 31')
elif month in (4,6,9,11):
  print('Days: 30')
else:
  print('invalid input')

Enter the Month: 022
invalid input



***Functions***

In [ ]:
def fun1():
  return "hrllo","how are you"

print(type(fun1(12)))

TypeError: fun1() takes 0 positional arguments but 1 was given

**Different types functions based on arguments**

1. Positional Arguments
2. Default Arguments
3. Keyword Arguments
4. Variable length Argument
5. Keyword variable length Argument

In [ ]:
def fun(name,age):
  print('name: ',name)
  print('Age: ', age)

fun(29, 'narasimha')

name:  29
Age:  narasimha

In [ ]:
# Default Arguments

def Employee(name,desig,company="HCL"):
  print('Employee Name: ',name)
  print('Designation: ', desig)
  print('Company Name: ',company)

Employee('narasimha','manager','Virtusa')
Employee('hari','developer')

Employee Name:  narasimha
Designation:  manager
Company Name:  Virtusa
Employee Name:  hari
Designation:  developer
Company Name:  HCL

In [ ]:
#keyword Argument

def Employee(name,desig,company):
  print('Employee Name: ',name)
  print('Designation: ', desig)
  print('Company Name: ',company)

Employee(desig='manager',company='Virtusa',name='Narasimha')
Employee('hari','developer','HCL')

Employee Name:  Narasimha
Designation:  manager
Company Name:  Virtusa
Employee Name:  hari
Designation:  developer
Company Name:  HCL

In [ ]:
#Variable length Argumnet

def student(name, rollno, *marks):
  print('Name: ', name)
  print('rollno: ',rollno)
  s=0
  for i in marks:
    s+=1
    print('Subject '+str(s)+": "+str(i))
  print('marks: ',marks)

student('Narsimha',1,10,20,20,30,40)

Name:  Narsimha
rollno:  1
Subject 1: 10
Subject 2: 20
Subject 3: 20
Subject 4: 30
Subject 5: 40
marks:  (10, 20, 20, 30, 40)

In [ ]:
#keyword Variable length Arguments

def student(name, rollno, **marks):
  print('Name: ', name)
  print('rollno: ',rollno)
  s=0
  # for i in marks.items():
  #   print(i) # it print tuple(i)
# Name:  Narsimha
# rollno:  1
# ('subj1', 10)
# ('subj2', 20)
# ('subj3', 20)
# ('subj4', 30)
# ('subj5', 40)


    # and if I consider two variables i & j
  for i ,j in marks.items():
      print(i,":" ,j)
# Name:  Narsimha
# rollno:  1
# subj1 : 10
# subj2 : 20
# subj3 : 20
# subj4 : 30
# subj5 : 40



student('Narsimha',1,subj1=10,subj2=20,subj3=20,subj4=30,subj5=40)

Name:  Narsimha
rollno:  1
('subj1', 10)
('subj2', 20)
('subj3', 20)
('subj4', 30)
('subj5', 40)